# FMUs, SSPs, input files and report files
*.fmu
*.ssp
*.csv
*.html

# compiled files
*.py[cod]

# build artifacts
build/
dist/
MANIFEST
*.egg-info

# PyCharm project
.idea/

# file-based project format
*.iws
