[submodule "native/thirdparty/mpack"]
	path = native/thirdparty/mpack
	url = https://github.com/ludocode/mpack.git
[submodule "native/thirdparty/Reference-FMUs"]
	path = native/thirdparty/Reference-FMUs
	url = https://github.com/modelica/Reference-FMUs.git
