# FMUs and input files
*.fmu
*.csv

# compiled files
*.py[cod]

# build artifacts
build/
dist/
MANIFEST

# PyCharm user-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/inspectionProfiles

# File-based project format:
*.iws
